$colors: (
    primary: #005DFF,
    theme: rgb(206, 67, 67),
    card: blue,
    buttons: rgb(241, 241, 204),
    story: red
);


$padding: 15px;
$borders: 15px;
$bigSize: 3em;
$inputSize: 2em;
$font: 'Montserrat';

@function color($color-name) {
    @return map-get($colors, $color-name);
}




body {
    margin: 0;
    font-family: $font;
    background: color(primary);

    // #bg {
    //     background: color(primary);
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     z-index: -1;
    // }

    header {
        font-size: 2em;
        color: white;
        padding: $padding;
        margin-left: 15px;
    }
}

main {

    #theme {
        background: white;
        text-align: center;
        margin: 1em auto;
        padding: $padding;
        width: 85%;
        border: solid 1px black;
        border-radius: $borders;

        h2 {
            font-size: $bigSize;
        }

        button {
            font-family: $font;
            background: color(buttons);
            margin: 20px;
            font-size: $inputSize;
            padding: $padding;
            width: 40%;
            border-radius: $borders;

        }

    }

    #card {
        background: white;
        text-align: center;
        padding: $padding;

        input {
            font-size: $inputSize;
            font-family: $font;
            display: block;
            width: 40%;
            padding: $padding;
            margin: 15px 20px;
            border: solid 2px black;
        }

        button {
            font-family: $font;
            background: color(buttons);
            margin: 20px;
            font-size: $inputSize;
            padding: $padding;
            width: 40%;
            border-radius: $borders;

        }
    }

    #story {
        color: white;
        text-align: center;
        margin: 1em auto;
        padding: $padding;
        width: 85%;

        h2 {
            font-size: $bigSize;
        }

        p {
            font-size: 20px;
        }

    }
}

footer {
    background: color(buttons);
    margin: 0 10px;
}